# Dependencies
node_modules

# Build outputs
dist
.output
.nuxt
.nitro
.cache

# Logs
*.log

# IDE
.idea
.vscode
*.swp
*.swo
.DS_Store

# Environment
.env
.env.*
!.env.example

# TypeScript
*.tsbuildinfo
